

<style>
/* app/assets/stylesheets/custom.css.scss */

.custom-bg-color {
  background-color: #0CC0DF;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}
 
.custom-bg-color:hover {
  background-color: #687EFF; /* Change to the hover color you want */
}

</style>

<div style="padding-top:30px !important; padding-bottom:30px !important">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="absolute inset-0 bg-gradient-to-r from-cyan-400 to-sky-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">

      <div class="max-w-md mx-auto">
        <div>
          <h1 class="text-2xl font-semibold">Before you make a new employee, we need some information...</h1>
        </div>
        <div class="divide-y divide-gray-200">
          <%= form_for @employee, html: { class: 'py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7' } do |f| %>
            <div class="relative">
              <%= f.label :username, class: 'block text-gray-600 text-sm font-bold mb-2' %>
              <%= f.text_field :username, name: "employee[username]", class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
            </div>  

            <div class="py-0">
              <%= f.label :password , class: 'block text-gray-600 text-sm font-bold mb-2' %>
              <%= f.text_field :password, name: "employee[password]" , class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
            </div>

            <div class="py-0">
              <%= f.label :phone_number, class: 'block text-gray-600 text-sm font-bold mb-2' %>
              <%= f.text_field :phone_number, name: "employee[phone_number]", class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
            </div>

            <div class="py-0">
              <%= f.label :authorization_key, class: 'block text-gray-600 text-sm font-bold mb-2' %>
              <%= f.text_field :authorization_key, name: "employee[authorization_key]", class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
            </div>

            <div class="py-4">
              <%= f.submit 'Create Employee', class: 'text-white font-bold py-2 px-4 rounded custom-bg-color' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>