<% total = 0 %>
  <% foodIds = [] %>
  <% foodNotes = [] %>

<table>
<tr>
    <th>Customer id</th>
    <th>Food id</th>
    <th>Food Mods</th>
    <th>Total cost</th>
</tr>
<h1>customer TEMP ORDERS</h1>
  <% @customers_temp_orders.each do |orderedItme| %>
    <tr>
      <th><%= orderedItme.customer_id%></th>
      <th><%= orderedItme.food_id%></th>
      <th>
        <%= orderedItme.food_modifications%>
      </th>
      <th><%= orderedItme.total_cost%></th>
      <% foodIds.append(orderedItme.food_id) %>
      <% foodNotes.append(orderedItme.food_modifications) %>
      <% total +=  orderedItme.total_cost%>
    </tr>
  <% end %>
</table>
<%= form_with(model: Order.new, method: :post) do |form| %>
  <%= form.hidden_field :list_food_id, value: foodIds.to_json %>
  <%= form.hidden_field :list_food_notes, value: foodNotes.to_json %>
  <%= form.hidden_field :total_cost, value: total %>
  <%= form.submit "Add", class: "btn btn-primary" %>
<% end %>

<%= link_to "Go Back to the Menu", menu_order_path, class: "btn btn-primary" %>