<h1>Login</h1>

<%= form_for Customer.new do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :phone_number %>

    <%= f.submit 'Login' %>
<% end %>
