<% @include_prose_class = true %>

<div class="mt-5 ml-2 mb-5">
  <h1 class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold dark:text-gray-800" style="border-color:#0CC0DF">
    Hello
  </h1>
   <span class="block text-sm mb-2" style="color:#0CC0DF"> We're glad to see you back</span>
</div>

<style>
/* app/assets/stylesheets/custom.css.scss */

.custom-bg-color {
  background-color: #0CC0DF;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.custom-bg-color:hover {
  background-color: #687EFF; /* Change to the hover color you want */
}

</style>


<div class="relative py-3 sm:max-w-xl sm:mx-auto">
  <div class="absolute inset-0 bg-gradient-to-r from-cyan-400 to-sky-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"></div>
  <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">

    <div class="max-w-md mx-auto">
      <div>
        <h1 class="text-2xl font-semibold">We need some quick information from you</h1>
      </div>
      <div class="divide-y divide-gray-200">
        <%= form_for Customer.new, html: { class: 'py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7' } do |f| %>
          <div class="relative">
            <%= f.label :first_name, class: 'block text-gray-600 text-sm font-bold mb-2' %>
            <%= f.text_field :first_name, class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
          </div>

          <div class="py-0">
            <%= f.label :last_name, class: 'block text-gray-600 text-sm font-bold mb-2' %>
            <%= f.text_field :last_name, class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
          </div>

          <div class="py-0">
            <%= f.label :phone_number, class: 'block text-gray-600 text-sm font-bold mb-2' %>
            <%= f.text_field :phone_number, class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
          </div>

          <div class="py-4">
            <%= f.submit 'Login', class: 'text-white font-bold py-2 px-4 rounded custom-bg-color' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<%
=begin%>
 <%= form_for Customer.new, html: { class: 'bg-white rounded' } do |f| %>
  <div class="py-1">
    <%= f.label :first_name, class: 'block text-gray-600 text-sm font-bold mb-2' %>
    <%= f.text_field :first_name, class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
  </div>

  <div class="py-1">
    <%= f.label :last_name, class: 'block text-gray-600 text-sm font-bold mb-2' %>
    <%= f.text_field :last_name, class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
  </div>

  <div class="py-1">
    <%= f.label :phone_number, class: 'block text-gray-600 text-sm font-bold mb-2' %>
    <%= f.text_field :phone_number, class: 'w-full p-2 rounded border focus:outline-none focus:ring focus:border-blue-300' %>
  </div>

<div class="py-4">
<%= f.submit 'Login', class: 'text-white font-bold py-2 px-4 rounded custom-bg-color' %>
  </div>
<% end %> 
<%
=end%>


<%
=begin%>
 <%= form_for Customer.new do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.text_field :phone_number %>

    <%= f.submit 'Login' %>
<% end %> 
<%
=end%>
