<% if !session[:isBreakfast]%>
    <h1>Lunch / Dinner Menu</h1>
    <table>
    <tr>
        <th>Food Name</th>
        <th>Food Mods</th>
        <th>Total Cost</th>
        <% if session[:customer] != nil%>
            <th>Edit Item</th>
            <th>Order Item</th>
        <% end %>
    </tr>
    <% if !@lunchAndDinnerMenu.blank?%>
        <% @lunchAndDinnerMenu.each  do |lunchItem| %>
            <tr>
                <th><%= lunchItem.food_name %></th>
                <% data = eval(lunchItem.food_additions) rescue [] %>
                <% additions = data.is_a?(Array) ? data : [data] %>
                <th>
                <% additions.each do |addition| %>
                    <h4>ID: <%= addition['id'] %>, Name: <%= addition['addition_name'] %>, Cost: <%= addition['cost'] %></h4>
                <% end %>
                </th>
                <th><%= lunchItem.inital_cost %></th>
                <% if session[:customer] != nil%>
                    <th><%= link_to "Edit Item", menu_show_path(lunchItem), class: "btn btn-primary" %></th>
                    <th>
                        <%= form_with(model: TempOrder.new, method: :post) do |form| %>
                        <%= form.hidden_field :customer_id, value: session[:customer]['id'] %>
                        <%= form.hidden_field :food_id, value: lunchItem.id %>
                        <%= form.hidden_field :total_cost, value: lunchItem.inital_cost %>
                        <%= form.submit "Add to Order"%>
                        <% end %>
                    </th>
                <% end %>
            <tr>
        <% end%>
    <% end %>
    </table>
<% else %>
    <h1>Breakfast Menu</h1>
    <table>
    <tr>
        <th>Food Name</th>
        <th>Food Mods</th>
        <th>Total Cost</th>
        <% if session[:customer] != nil and Time.now >= Time.parse("7:00") and Time.now <= Time.parse("12:00")%>
            <th></th>
            <th></th>
        <% end %>
    </tr>
    <% if !@breakfastMenu.blank?%>
        <% @breakfastMenu.each  do |breakfastItem| %>
            <tr>
                <th><%= breakfastItem.food_name %></th>
                <% data = eval(breakfastItem.food_additions) rescue [] %>
                <% additions = data.is_a?(Array) ? data : [data] %>
                <th>
                <% additions.each do |addition| %>
                    <h4>ID: <%= addition['id'] %>, Name: <%= addition['addition_name'] %>, Cost: <%= addition['cost'] %></h4>
                <% end %>
                </th>
                <th><%= breakfastItem.inital_cost %></th>
                <% if session[:customer] != nil and Time.now >= Time.parse("7:00") and Time.now <= Time.parse("12:00")%>
                    <th><%= link_to "Edit Item", menu_show_path(breakfastItem), class: "btn btn-primary" %></th>
                    <th>
                        <%= form_with(model: TempOrder.new, method: :post) do |form| %>
                        <%= form.hidden_field :customer_id, value: session[:customer]['id'] %>
                        <%= form.hidden_field :food_id, value: breakfastItem.id %>
                        <%= form.hidden_field :total_cost, value: breakfastItem.inital_cost %>
                        <%= form.submit "Add to Order" %>
                        <% end %>
                    </th>
                <% end %>
            <tr>
        <% end%>
    <% end %>
    </table>
<% end %>
<% if session[:isBreakfast] %>
    <% if session[:customer] != nil && Time.now >= Time.parse("7:00") && Time.now <= Time.parse("12:00") %>
        <%= link_to "Complete Order", order_confirmation_path, class: "btn btn-primary" %>
    <% elsif session[:customer] == nil %>
        <%= link_to "Log In to order food", login_path, class: "btn btn-primary" %>
    <% else %>
        <h3>YOU CANNOT ORDER BREAKFAST AFTER 12 YOU WEIRDOS</h3>
    <% end %>
<% else %>
    <% if session[:customer] != nil %>
        <%= link_to "Complete Order", order_confirmation_path, class: "btn btn-primary" %>
    <% else %>
        <%= link_to "Log In to order food", login_path, class: "btn btn-primary" %>
    <% end %>
<% end %>

<br>
<%= link_to "Go Back to the Menu", menu_order_path, class: "btn btn-primary" %>
