<% if session[:customer] != nil %>
    <div style="padding-left:25px;padding-right:25px;max-width:700px !important" class="mx-auto">
    <div id="targetElement" class="p-4 mt-4 text-sm text-cyan-600 rounded-lg bg-cyan-100" role="alert">
    <div class="flex items-center">
        <span class="font-medium">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
        </svg>
        </span>
            <span style="padding-left:5px; padding-right:3px;">Hello, <%= session[:customer].first_name %>! </span> Please begin your order process.
    </div>
    </div>
    </div>
<% end %>

<div class="max-w-screen-xl mx-auto p-2 sm:p-2 md:p-2" style="padding-left:50px !important;padding-right:50px !important;padding-bottom:30px !important">

    <div class="flex flex-1 w-full flex-col items-center justify-center text-center" style="padding-top:5px !important">
    <h1 class="mx-auto max-w-4xl font-display text-3xl font-bold tracking-normal text-white-300 dark:text-gray-300 sm:text-4xl" style="color:black; margin-bottom:15px !important;padding-bottom:20px !important">
            Our
            <span class="relative whitespace-nowrap text-cyan-500 dark:text-cyan-300">
            <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute top-2/3 left-0 h-[0.58em] w-full fill-cyan-500 dark:fill-cyan-300/60" preserveAspectRatio="none">
                <path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.780 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.540-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.810 23.239-7.825 27.934-10.149 28.304-14.005 .417-4.348-3.529-6-16.878-7.066Z"></path>
            </svg>
            <span class="relative" style="font-family:Lilita One">Menus</span>
        </span>
    </h1>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
        <!--- START OF COMMENT --->
        <%
=begin%>
 <% if session["Time"] >= Time.parse("7:00") && session["Time"]  <= Time.parse("13:00") %> 
<%
=end%>
        <!--- END OF COMMENT --->
        
            <!-- CARD 1 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col">
                <a href="#"></a>
                <div class="relative">
                    <a href="<%= set_isBreakfast_true_path %>">
                        <!--<img class="w-full" src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" alt="Sunset in the mountains">-->
                        <%= image_tag("breakfast.png", class: "w-full", alt: "picture") %>
                        <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
                    </a>
                    <a href="<%= set_isBreakfast_true_path %>">
                        <div class="text-xs absolute top-0 right-0 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-black transition duration-500 ease-in-out" style="background-color: #0CC0DF">
                                                Breakfast
                        </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="<%= set_isBreakfast_true_path %>" class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Breakfast Menu</a>
                    <p class="text-gray-500 text-sm">
                                        Elevate your breakfast experience with the delectable combination of eggs, omelets, and freshly baked breads, crafting a morning meal that's both comforting and full of flavor.
                                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="<%= set_isBreakfast_true_path %>" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <!--<svg height="13px" width="13px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z"></path>
                                </g>
                            </g>
                        </svg>
                        <span class="ml-1">6 mins ago</span>-->
                    </span>

                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <!--<svg class="h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
                        </svg>
                        <span class="ml-1">39 Comments</span>-->
                    </span>
                </div>
            </div>
        <!--- START OF COMMENT --->
        <%
=begin%>
 <% end %> 
<%
=end%>
        <!--- END OF COMMENT --->

        <!--- START OF COMMENT --->
       <%
=begin%>
 <% if session["Time"] >= Time.parse("11:00") && session["Time"]  <= Time.parse("19:00")%> 
<%
=end%>
        <!--- END OF COMMENT --->
            <!-- CARD 2 -->
            <div class="rounded overflow-hidden shadow-lg flex flex-col">
                

                <div class="relative">
                    <a href="<%= set_isBreakfast_false_path %>">
                        <%= image_tag("lunch.png", class: "w-full", alt: "picture") %>
                        <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
                    </a>
                    <a href="<%= set_isBreakfast_false_path %>">
                        <div class="text-xs absolute top-0 right-0 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-black transition duration-500 ease-in-out" style="background-color: #0CC0DF">
                                                Lunch/Dinner
                                            </div>
                    </a>
                </div>
                <div class="px-6 py-4 mb-auto">
                    <a href="<%= set_isBreakfast_false_path %>" class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Lunch/Dinner Menu</a>
                    <p class="text-gray-500 text-sm">
                                        Savor an array of culinary delights, from succulent burgers and tender chicken to mouthwatering sandwiches and delightful seafood.
                                    </p>
                </div>
                <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
                    <span href="<%= set_isBreakfast_false_path %>" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <!--<svg height="13px" width="13px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z"></path>
                                </g>
                            </g>
                        </svg>-->
                        <!--<span class="ml-1"> 10 days ago</span>-->
                    </span>

                    <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                        <!--<svg class="h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
                        </svg>
                        <span class="ml-1">0 Comments</span>-->
                    </span>
                </div>
            </div>
        <!--- START OF COMMENT --->
       <%
=begin%>
 <% end %> 
<%
=end%>
         <!--- END OF COMMENT --->
         <!-- CARD 3 -->
    <div class="rounded overflow-hidden shadow-lg flex flex-col">
        

        <div class="relative">
            <a href="<%= ice_memu_url %>">
                <%= image_tag("icecream.jpeg", class: "w-full", alt: "picture") %>
                <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
            </a>
            <a href="<%= set_isBreakfast_false_path %>">
                <div class="text-xs absolute top-0 right-0 px-4 py-2 text-white mt-3 mr-3 hover:bg-white hover:text-black transition duration-500 ease-in-out" style="background-color: #0CC0DF">
                                        Ice Cream
                                    </div>
            </a>
        </div>
        <div class="px-6 py-4 mb-auto">
            <a href="<%= set_isBreakfast_false_path %>" class="font-medium text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out inline-block mb-2">Ice Cream</a>
            <p class="text-gray-500 text-sm">
                             
Savor the taste of homemade ice cream with our delightful menu. From classic favorites to unique creations, each scoop is crafted with love in our kitchen. Indulge in the goodness of our treats, making every bite a sweet escape. 
                            </p>
        </div>
        <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
            <span href="<%= set_isBreakfast_false_path %>" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                <!--<svg height="13px" width="13px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256s256-114.837,256-256S397.163,0,256,0z M277.333,256 c0,11.797-9.536,21.333-21.333,21.333h-85.333c-11.797,0-21.333-9.536-21.333-21.333s9.536-21.333,21.333-21.333h64v-128 c0-11.797,9.536-21.333,21.333-21.333s21.333,9.536,21.333,21.333V256z"></path>
                        </g>
                    </g>
                </svg>-->
                <!--<span class="ml-1"> 10 days ago</span>-->
            </span>

            <span href="#" class="py-1 text-xs font-regular text-gray-900 mr-1 flex flex-row items-center">
                <!--<svg class="h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
                </svg>
                <span class="ml-1">0 Comments</span>-->
            </span>


    </div>

        </div>
    </div>
</div>

