<% @include_prose_class = true %>

<style> 
    .smalltext{
        font-size: 14px; 
        color: #636060; 
        vertical-align: middle;
        font-family: Arial;
    }
    .emojis{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 16px;
    }

    .typing-container {
    font-size: 20px;
    }
    #constant-text,
    #typing-text {
        display: inline-block; /* Use "inline" or "inline-block" for inline display */
        color: black;
    }
</style>


<!-- Your page content goes here -->



  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap">

    <div class="flex flex-1 w-full flex-col items-center justify-center text-center" style="padding-top:25px !important">
        <h1 class="mx-auto max-w-4xl font-display text-3xl font-bold tracking-normal text-white-300 dark:text-gray-300 sm:text-4xl" style="color:black; margin-bottom:10px !important">
                About
                <span class="relative whitespace-nowrap text-cyan-500 dark:text-cyan-300">
                <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute top-2/3 left-0 h-[0.58em] w-full fill-cyan-500 dark:fill-cyan-300/60" preserveAspectRatio="none">
                    <path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.780 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.540-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.810 23.239-7.825 27.934-10.149 28.304-14.005 .417-4.348-3.529-6-16.878-7.066Z"></path>
                </svg>
                <span class="relative" style="font-family:Lilita One">Lickity Splitz</span>
            </span>
        </h1>
    </div>

<div class="mt-6 max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
  <div class="md:flex">
    <div class="md:shrink-0">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-lg font-semibold" style="color: #0CC0DF">
        Lickity Splitz 
      </div>
      <!--<a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Discover culinary delight here</a>-->
      <div class="typing-container">
                <p class="block mt-0 text-lg leading-tight font-medium text-black hover:underline">
                    <!--<span style="color: green;" id="constant-text">We are: </span>-->
                    <span style="font-weight: bold;" id="typing-text"></span>
                </p>
        </div>
        <p class="mt-0 text-slate-500" style="margin: 0 !important">Enthusiastic staff, lively ambiance, and mouthwatering dishes create a warm, inviting experience.</p>
        <p class="mt-0 text-slate-500" style="margin: 0 !important"><a href="https://www.google.com/maps/dir//Lickity+Splitz,+231+Main+St,+Winchendon,+MA+01475/@42.536082,-72.385826,9z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89e15d897d57009b:0x886184d8c00a3064!2m2!1d-72.0778735!2d42.6697029!3e0?entry=ttu" class="mt-0 text-slate-500" style="margin: 0 !important;text-decoration:none;" target = "_blank"><i class="fa fa-map-marker" style="color:black"></i> 231 Main St, Winchendon, MA</a></p>
        <p class="mt-0 text-slate-500" style="margin: 0 !important ;text-decoration:none"><a style="text-decoration:none" href="tel:(978) 297-1777" class="mt-0 text-slate-500"><i class="fa fa-phone" style="color:black"></i> (978) 297-1777</a></p>
        <p class="mt-0 text-slate-500" style="margin: 0 !important"><i class="fa fa-bell" style="color:black"></i> Takeout · Dine-in · Outdoor seating</p>
        <!--<p class="mt-0 text-slate-500" style="margin: 0 !important"><i class="fa fa-clock-o" style="color:black"></i> Hours of Operation</p>-->
        <div class="">
          <details class="">
              <summary class="rounded-lg cursor-pointer text-black-900 mb-1" style="background-color:white; padding-left:2px">
                  <span class="mt-0 text-slate-500">Hours of Operation</span>
              </summary>
                <ul class="ml-0 space-y-0" style="margin-top:0px;margin-bottom:0px;list-style-type: none !important;">
                  <div jsname="vMIvv" class="vk_bk" jsaction="ytNONe" aria-expanded="true" role="button" tabindex="0" data-ved="2ahUKEwiZ8d-miMCCAxXQkIkEHXRaBJ8Q5nF6BAhEEAU">
                      <table class="WgFkxc">
                          <tr class="K7Ltle">
                              <td class="SKNSIb">Sunday</td>
                              <td>6:30 AM–7 PM</td>
                          </tr>
                          <tr>
                              <td class="SKNSIb">Monday</td>
                              <td>6:30 AM–7 PM</td>
                          </tr>
                          <tr>
                              <td class="SKNSIb">Tuesday</td>
                              <td>6:30 AM–1 PM</td>
                          </tr>
                          <tr>
                              <td class="SKNSIb">Wednesday</td>
                              <td>6:30 AM–1 PM</td>
                          </tr>
                          <tr>
                              <td class="SKNSIb">Thursday</td>
                              <td>6:30 AM–7 PM</td>
                          </tr>
                          <tr>
                              <td class="SKNSIb">Friday</td>
                              <td>6:30 AM–7 PM</td>
                          </tr>
                          <tr>
                              <td class="SKNSIb">Saturday</td>
                              <td>6:30 AM–7 PM</td>
                          </tr>
                      </table>
                    </div>
                </ul>
          </details>
        </div>
    </div>
  </div>
</div>

<script>
  const words = ["Culinary Delight", "Friendly Service", "Gourmet Treats", "Warm Welcome"]; 
  let currentIndex = 0;
  let charIndex = 0;
  let isTyping = true;
  const typingSpeed = 100; 
  const eraseSpeed = 50;  

  const typingText = document.getElementById('typing-text');
  const constantText = document.getElementById('constant-text');

function typeWord() {
  if (charIndex < words[currentIndex].length) {
      typingText.textContent += words[currentIndex].charAt(charIndex);
      charIndex++;
      setTimeout(typeWord, typingSpeed);
  } else {
      isTyping = false;
      setTimeout(eraseWord, 1000); 
  }
  }

  function eraseWord() {
  if (charIndex > 0) {
      typingText.textContent = words[currentIndex].substring(0, charIndex - 1);
      charIndex--;
      setTimeout(eraseWord, eraseSpeed);
  } else {
      isTyping = true;
      currentIndex = (currentIndex + 1) % words.length; 
      setTimeout(typeWord, 750); 
  }
  }

  function startTyping() {
  if (isTyping) {
      eraseWord();
  } else {
      typeWord();
  }
  }

  startTyping();
</script>


    <div class="flex flex-1 w-full flex-col items-center justify-center text-center" style="padding-top:60px !important">
        <h1 class="mx-auto max-w-4xl font-display text-3xl font-bold tracking-normal text-white-300 dark:text-gray-300 sm:text-4xl" style="color:black; margin-bottom:10px !important">
                Our
                <span class="relative whitespace-nowrap text-cyan-500 dark:text-cyan-300">
                <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute top-2/3 left-0 h-[0.58em] w-full fill-cyan-500 dark:fill-cyan-300/60" preserveAspectRatio="none">
                    <path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.780 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.540-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.810 23.239-7.825 27.934-10.149 28.304-14.005 .417-4.348-3.529-6-16.878-7.066Z"></path>
                </svg>
                <span class="relative" style="font-family:Lilita One">Fan Favorites</span>
            </span>
        </h1>
    </div>

<div class="grid w-full grid-cols-1 gap-6 mx-auto lg:grid-cols-3">
  <div class="p-2">
      <a href="<%= set_isBreakfast_true_path %>"><img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="https://www.americas-table.com/wp-content/uploads/2015/05/blueberry-pancakes-with-vanilla-ice-cream.jpg" alt="food"></a>

      <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">Breakfast</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500">
        Indulge in fluffy, buttermilk golden pancakes, a delightful breakfast treat that's perfect everytime.
      <div class="mt-4">
          <a href="<%= set_isBreakfast_true_path %>" class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600" title="read more" style="color: #0CC0DF;text-decoration:none"> View on menu <i class="fa fa-chevron-circle-right" style="padding-left: 4px"></i></a>
      </div>
  </div>
  <div class="p-2">
      <a href="<%= set_isBreakfast_false_path %>"><img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="https://www.allrecipes.com/thmb/5JVfA7MxfTUPfRerQMdF-nGKsLY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/25473-the-perfect-basic-burger-DDMFS-4x3-56eaba3833fd4a26a82755bcd0be0c54.jpg" alt="food"></a>

      <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">Lunch</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500">
        Savor the juiciness and flavor explosion of our gourmet burgers - a taste sensation you won't forget.
      <div class="mt-4">
          <a href="<%= set_isBreakfast_false_path %>" class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600" title="read more" style="color: #0CC0DF;text-decoration:none"> View on menu <i class="fa fa-chevron-circle-right" style="padding-left: 4px"></i></a>
      </div>
  </div>
  <div class="p-2">
      <a href="<%= set_isBreakfast_false_path %>"><img class="object-cover object-center w-full mb-8 lg:h-48 md:h-36 rounded-xl" src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2018/4/13/0/DV2809_The-Sampler-Platter_s4x3.jpg.rend.hgtvcom.1280.1280.suffix/1523655234880.jpeg" alt="food"></a>

      <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">Dinner</h1>
      <p class="mx-auto text-base leading-relaxed text-gray-500">
        Dive into a world of crispy perfection with our fried seafood, where each bite is a seaside adventure.
      <div class="mt-4">
          <a href="<%= set_isBreakfast_false_path %>" class="inline-flex items-center mt-4 font-semibold text-blue-600 lg:mb-0 hover:text-neutral-600" title="read more" style="color: #0CC0DF; text-decoration:none"> View on menu <i class="fa fa-chevron-circle-right" style="padding-left: 4px"></i> </a>
      </div>
  </div>
</div>
