<!DOCTYPE html>
<html>
  <head>
    <title>ProductionDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>


  
  <%# navbar %>

  <nav class="bg-gray-100" style="">
    <div class="max-w-5xl mx-auto px-4">
      <div class="flex justify-between">

  
      <%# logo %>
      <div class="flex space-x-4">
        <div>
        <a href="https://lsscse.com" class="flex items-center py-5 px-2 text-gray-800">
          <svg class="h-6 w-6 mr-1" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" fill="#0CC0DF"> 
            <path d="M368 160h-.94a144 144 0 1 0-286.12 0H80a48 48 0 0 0 0 96h288a48 48 0 0 0 0-96zM195.38 493.69a31.52 31.52 0 0 0 57.24 0L352 288H96z"/>
          </svg>
          <span class="font-bold">Lickity Splitz </span>
          
        </a>
        </div>
    
        <%# primary nav %>
        <div class="flex items-center space-x-1 hidden md:flex">
        <%= link_to "Menu", menu_order_path, class: "py-4 px-3 text-gray-700 hover:text-gray-900" %>

          <%= link_to "Ice Cream Flavors", login_path, class: "py-4 px-3 text-gray-700 hover:text-gray-900" %>

        </div>
      </div>
  
      <%# secondary nav %>
      <div class="flex items-center space-x-1 hidden md:flex">
          <a href="https://www.google.com/maps/dir//231+Main+St,+Winchendon,+MA+01475/@42.6698047,-72.1603031,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89e15d89409df463:0x913e4cc313dee698!2m2!1d-72.0779019!2d42.669708!3e0?entry=ttu" class="py-4 px-3 text-gray-700 hover:text-gray-900">Get Directions</a>
            <% if session[:customer].nil? %>
              <%= link_to "Login", login_path, class: "py-2 px-3 text-gray-700 hover:text-gray-900 text-black rounded", style: "background-color: #0CC0DF" %>
            <% else %>
              <button id="open_customer_view" type="button" class="relative inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="background-color:#0CC0DF">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" style="padding-right:5px;">
                <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" fill="white"/>
                </svg>
                <span class="sr-only"></span>Your Order
                <% temp_order_count = TempOrder.where(customer_id: session[:customer]["id"]).length %>
                <% if temp_order_count != 0 %>
                <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -end-2 dark:border-gray-900"><%= TempOrder.where(customer_id: session[:customer]["id"]).length %></div>
                <% end %>
            </button>
            <% end %>
      </div>

      <script>
          document.getElementById('open_customer_view').addEventListener('click', function () {
            document.getElementById('customer_view_overlay').style.display = 'flex';
        });

        document.getElementById('close_customer_view').addEventListener('click', function () {
            document.getElementById('customer_view_overlay').style.display = 'none';
        });
        document.getElementById('close_customer').addEventListener('click', function () {
            document.getElementById('customer_view_overlay').style.display = 'none';
        });
      </script>

      <%# mobile button goes here %>
      <div class="flex items-center md:hidden">
        <button id="toggleButton" class="mobile-menu-button">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0CC0DF" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
          </svg>
        </button>
      </div>

      </div>
  
    </div>


  
  <%# mobile view %>
  <div class="mobile-menu hidden">
    <a href="" class="block py-2 px-4 text-sm hover:bg-gray-200">Get Directions</a>
    <a href="" class="block py-2 px-4 text-sm hover:bg-gray-200">Order</a>
  </div>

    <script>
    const btn = document.querySelector('button.mobile-menu-button');
    const menu = document.querySelector('.mobile-menu');
    btn.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    })

    $(document).ready(function() {
    let isMenuOpen = false;
    
    // Reference to the button and its SVG
    const button = $("#toggleButton");
    const svg = button.find("svg");
    
    // Define the SVG for the open and closed states
    const svgClosed = '<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />';
    const svgOpen = '  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />';

    // Function to toggle the button's state and change the SVG
    function toggleButton() {
      isMenuOpen = !isMenuOpen;
      if (isMenuOpen) {
        svg.html(svgOpen);
      } else {
        svg.html(svgClosed);
      }
    }
    
    // Add a click event listener to the button
    button.on("click", toggleButton);
  });
  </script>
  
  </nav>

  
  <%# content %>
  
  <body class="">
    <div class="prose mx-auto">
      <%= yield %>
    </div>
  </body>
<div style = "padding-top:5px"> <!-- White space above footy -->
  <div style="padding-top:20px !important">
    <div class="bg-gray-100 mt-3" style="padding-top:10px !important; padding-bottom:10px !important">
      <div class="max-w-screen-lg py-3 px-4 sm:px-6 text-gray-800 sm:flex justify-between mx-auto">
          <div class="p-2 sm:w-2/12 border-r">
              <div class="text-sm uppercase font-bold" style="color:#0CC0DF">Quick Links</div>
              <ul>
                  <li class="my-2">
                      <a class="hover:text-cyan-500" href=<%= root_url%>>Home</a>
                  </li>
                  <li class="my-2">
                      <a class="hover:text-cyan-500" href="<%= login_path%>">Login</a>
                  </li>
                  <li class="my-2">
                      <a class="hover:text-cyan-500" href="<%= login_path%>">Place an Order</a>
                  </li>
                  <li class="my-2">
                      <a class="hover:text-cyan-500" href="<%= menu_order_path%>">View Menu's</a>
                  </li>
              </ul>
          </div>
          <div class="p-2 sm:w-7/12 border-r text-center">
          
              <h3 class="font-bold text-xl mb-4 text-gray-700">Lickity Splitz</h3>

              <p class="text-gray-500 text-sm mb-10">Under new ownership, the restaurant radiates warmth with its enthusiastic staff, lively ambiance, and mouthwatering dishes, creating an inviting and engaging dining experience.</p>
          </div>
          <div class="p-2 sm:w-3/12">
              <div class="text-sm uppercase font-bold" style="color:#0CC0DF">Contact Us</div>
              <ul>
                  <li class="my-2">
                      <a href="https://www.google.com/maps/dir//Lickity+Splitz,+231+Main+St,+Winchendon,+MA+01475/@42.536082,-72.385826,9z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89e15d897d57009b:0x886184d8c00a3064!2m2!1d-72.0778735!2d42.6697029!3e0?entry=ttu" class="hover:text-cyan-500" target = "_blank"><i class="fa fa-map-marker" style="color:black"></i> 231 Main St, <br>Winchendon, MA</a>
                  </li>
                  <li class="my-2">
                    <a style="text-decoration:none !important" href="tel:(978) 297-1777" class="hover:text-cyan-500"><i class="fa fa-phone" style="color:black"></i> (978) 297-1777</a>              
                  </li>
                  <li class="my-2">
                    <p><i class="fa fa-bell" style="color:black"></i> Takeout · Dine-in · Outdoor seating</p>
                  </li>
              </ul>
          </div>
      </div>
      <div class="flex py-1 m-auto text-gray-800 text-sm flex-col items-center border-t max-w-screen-xl">
          <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
              <a href="https://www.facebook.com/lickitysplitzwinchendon/" class="w-6 mx-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 320 512">
                  <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
                </svg>
              </a>

              <a href="https://www.yelp.com/biz/lickity-splitz-winchendon" class="w-6 mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 384 512">
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path d="M42.9 240.32l99.62 48.61c19.2 9.4 16.2 37.51-4.5 42.71L30.5 358.45a22.79 22.79 0 0 1-28.21-19.6 197.16 197.16 0 0 1 9-85.32 22.8 22.8 0 0 1 31.61-13.21zm44 239.25a199.45 199.45 0 0 0 79.42 32.11A22.78 22.78 0 0 0 192.94 490l3.9-110.82c.7-21.3-25.5-31.91-39.81-16.1l-74.21 82.4a22.82 22.82 0 0 0 4.09 34.09zm145.34-109.92l58.81 94a22.93 22.93 0 0 0 34 5.5 198.36 198.36 0 0 0 52.71-67.61A23 23 0 0 0 364.17 370l-105.42-34.26c-20.31-6.5-37.81 15.8-26.51 33.91zm148.33-132.23a197.44 197.44 0 0 0-50.41-69.31 22.85 22.85 0 0 0-34 4.4l-62 91.92c-11.9 17.7 4.7 40.61 25.2 34.71L366 268.63a23 23 0 0 0 14.61-31.21zM62.11 30.18a22.86 22.86 0 0 0-9.9 32l104.12 180.44c11.7 20.2 42.61 11.9 42.61-11.4V22.88a22.67 22.67 0 0 0-24.5-22.8 320.37 320.37 0 0 0-112.33 30.1z"/>
                    </svg>
              </a>


          </div>
          <div class="my-5">© Copyright 2023. All Rights Reserved. This is a test.</div>
      </div>
      </div>
      </div>
  </div>

</html>
  
